# Workspace invite email delivery
# Supported values: resend, sendgrid
EMAIL_PROVIDER=resend
RESEND_API_KEY=
SENDGRID_API_KEY=
WORKSPACE_INVITE_FROM_EMAIL=
WORKSPACE_INVITE_FROM_NAME=Build Profit Solutions
WORKSPACE_INVITE_URL=https://buildprofitsolutions.com
